::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.neutral.900');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.neutral.800');
  border-radius: 6px;
  border: 3px solid theme('colors.neutral.700');
}
